<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Fugeddaboutit</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/auth/signup">Sign up</a></li>
        <li><a href="/auth/login">Login</a></li> 
        <li><a href="/favorites">Favorites</a></li>
      </ul>
    </div>
  </div>
</nav>

</head>

<body>
<div class="container">
  <%- body %>
</div>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>