

body  {
    background-image: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-20141.jpg");
   }

img {
	padding top: 
}

h1 {
	color: white;
}

legend {
	color: red;
}

label {
	color: red;
}